<!DOCTYPE html>
<html>
<head>
    {% include "includes/header.twig" %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% include "includes/footer.twig" %}
</div>
</body>
</html>