{% verbatim %}
    <template id="user-show">
        <div>
            <h2>Hello</h2>

            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <router-link v-bind:to="'/'">Back to user list</router-link>
        </div>
    </template>
{% endverbatim %}